.card {
  background: var(--surface-color);

  border-radius: var(--radius-md);

  box-shadow: var(--shadow-sm);

  padding: 2rem;

  text-align: center;
}

.card h3 {
  color: var(--text-secondary);

  margin-bottom: 1rem;
}

.card h1 {
  font-size: 3rem;

  color: var(--primary-color);
}